.tabla-admin {
  width: 75%;
  overflow-y: auto;
  max-height: 50rem;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
    border-radius: 10px;
  }
}
table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #7aecb9;
  color: white;
}

td {
  max-width: 120rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  height: auto;
}
.encabezado-lista {
  position: sticky;
  top: -1px;
}
.body-table {
  overflow-y: auto;
}

.lista-produ:nth-child(even) {
  background-color: rgba(152, 255, 229, 0.5);
}

.product-image {
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 50%;
  border: solid 1px rgb(181, 181, 181);
}

.boton {
  padding: 5px 10px;
  margin: 2px;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  transition: transform 0.3s ease-out;
  &.edit-btn {
    background-color: #69b894;
  }
  &.delete-btn {
    background-color: #c2352b;
  }
  &:active {
    transform: scale(0.5);
  }
}
.contenedor-buscador {
  position: relative;
  padding: 10px 0 10px 0;

  input {
    margin-top: 10px;
    height: 50px;
    width: 270px;
    border-radius: 6px;
    outline: none;
    padding: 10px;
    border: none;
    background: rgb(226, 226, 226);
    appearance: none;
  }

  label {
    display: flex;
    position: absolute;
    font-size: 15px;
    top: 55%;
    left: 25px;
    transform: translateY(-40%);
    pointer-events: none;
    transition: 0.3s;
    font-weight: bold;
    color: rgb(186, 186, 186);
    gap: 5px;
  }

  input:focus ~ label {
    top: 20px;
    left: 45px;
    font-size: 12px;
    padding: 0 2px;
    background-color: white;
    color: #17d37e;
  }

  input:focus {
    border: solid 1px #17d37e;
    background: none;
  }
  input:not(:placeholder-shown) ~ label {
    top: 20px;
    left: 45px;
    font-size: 12px;
    padding: 0 2px;
    background-color: white;
    color: #17d37e;
  }

  input:not(:placeholder-shown) {
    background-color: white;
    border: solid 1px #17d37e;
  }
}
@media screen and (width < 760px) {
  .tabla-admin {
    width: 425px;
    height: 100rem;
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #d4d4d4;
      border-radius: 10px;
    }
  }
  table {
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #7aecb9;
    color: white;
  }

  td {
    max-width: 120rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    height: auto;
  }
  .encabezado-lista {
    position: sticky;
    top: -1px;
  }
  .body-table {
    overflow-y: auto;
  }

  .lista-produ:nth-child(even) {
    background-color: rgba(152, 255, 229, 0.5);
  }

  .product-image {
    width: 70px;
    height: 70px;
    object-fit: contain;
    border-radius: 50%;
    border: solid 1px rgb(181, 181, 181);
  }

  .boton {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    transition: transform 0.3s ease-out;
    &.edit-btn {
      background-color: #69b894;
    }
    &.delete-btn {
      background-color: #c2352b;
    }
    &:active {
      transform: scale(0.5);
    }
  }
}
